.container {
  padding: 20px;
  text-align: center;
  font-family: Arial;
}

h1 {
  margin-bottom: 20px;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.search-box button:hover {
  background: #1d4ed8;
}

/* CARD */
.card {
  background: rgb(0, 0, 0);
  width: 280px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.info {
  padding: 10px;
  text-align: left;
}